<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation Starter Template</title>
		<link href="//cdn.bootcss.com/foundation/6.2.4/foundation.min.css" rel="stylesheet">
  </head>
  <body>
		<div class="row">
			<div class="small-12 columns">
    		<h1>Wechat API Simulator</h1>
<form method="post" method="">
  {% csrf_token %}
<label>URL
<input type="url" name="url">
</label>
<label>XML
<textarea name="xml" rows="8"></textarea>
</label>
<input type="submit" class="button" value="Submit">
</form>
			</div>
		</div>

		<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
		<script src="//cdn.bootcss.com/foundation/6.2.4/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>

  </body>
</html>
